[submodule "lib/TrialData"]
	path = lib/TrialData
	url = https://github.com/limblab/TrialData.git
[submodule "lib/circ-toolbox"]
	path = lib/circ-toolbox
	url = https://github.com/raeedcho/circ-toolbox.git
[submodule "lib/neuron-table"]
	path = lib/neuron-table
	url = https://github.com/raeedcho/neuron-table.git
[submodule "lib/matlab-colors"]
	path = lib/matlab-colors
	url = https://github.com/raeedcho/matlab-colors.git
