[submodule "lib/TrialData"]
	path = lib/TrialData
	url = https://github.com/limblab/TrialData.git
[submodule "lib/NeuronTable"]
	path = lib/NeuronTable
	url = https://github.com/limblab/NeuronTable.git
[submodule "lib/circ-toolbox"]
	path = lib/circ-toolbox
	url = https://github.com/raeedcho/circ-toolbox.git
[submodule "lib/matlab-linspecer"]
	path = lib/matlab-linspecer
	url = https://github.com/raeedcho/matlab-linspecer.git
[submodule "lib/loadTDfromCDS"]
	path = lib/loadTDfromCDS
	url = https://github.com/raeedcho/loadTDfromCDS.git
[submodule "lib/ClassyDataAnalysis"]
	path = lib/ClassyDataAnalysis
	url = https://github.com/limblab/ClassyDataAnalysis.git
